// Post SCSS for the theme.

body.pagelayout-login {
    background-image: url([[pix:theme_ncmboost|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_ncmboost|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_ncmboost|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_ncmboost|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_ncmboost|defaultbackgroundimage]]);
    background-size: cover;
}

header.bordertop-brand {
    border-top:5px solid $ncm-brandcolor;
}
